#grad {
    background-image: linear-gradient(black, blue);
  }

body {
    box-sizing: border-box;
    padding: 0 3rem;
    font-size: 1.6rem;
}

.header {
    height: 40vh;
    background-image: linear-gradient(to bottom right, red, yellow, 
    position: relative;
    border-bottom: 1rem solid black;
    margin-bottom: 2rem;
}

.primary-border {
    border: .3rem solid black;
    padding: 2rem;